<div class="row">
  <div class="col-xs-3">
    <img class="img-thumbnail pull-left" src="http://placehold.it/1000x1000">
  </div>
  <div class="col-xs-9">
    <div class="name-date-container row">
      <div class="name-container">
        <strong>{{messageThread.partnerName}}</strong>
      </div>
      <div class="date-container">
        {{timeSinceLastMessage}}
      </div>
    </div>
    <div class="message-blurb-container">{{messageThread.lastMessageBlurb}}</div>
  </div>
</div>