.modal.login-modal, .modal.signup-modal {
  a {
    margin-left:10px;
    cursor: pointer;
    color: red;
  }
  .panel-padding {
    padding: 20px;
  }
  .signup-or-separator {
    margin: 10px 0px 10px 0px;
    background: none;
    height: 25px;
    position: relative;
    text-align: center;
    hr {
      margin-top: -10px;
      margin-bottom: 1rem;
      border: 0;
      border-top: .0625rem solid rgba(0, 0, 0, .1);
      box-sizing: content-box;
      height:0;
    }
    span {
      background-color: #fff;
      display: inline-block;
      padding: 0px 6px;
      margin-bottom: 0px;
    }
  }
  .input-group-addon {
    width: 41px !important;
  }
  .modal-font {
    font-size: .85em;
  }
  .register-link {
    color: #d9534f;
    @include dark-links;
  }

  .alert-danger {
    text-align: center;
    font-size: 10pt;
    padding: 5px;
    margin-top: 0;
  }
}
