<div class="stag-options">
  <div class="card">
    <div class ="banner-container">
      <img class="img-rounded card-img-top" src="https://fromhorsesmouth.files.wordpress.com/2011/12/banner2.jpg" alt="Card image"/>
    </div>
    <div class="card-block">
      <h4 class="card-title">Currently viewing</h4>
      <h6 class="card-subtitle text-muted">#{{activeStag.name}}</h6>
    </div>
    <div class="card-block">
      <span class="pull-left"><h6 class="text-muted">{{activeStag.numListings}} Active Listings</h6></span>
      <span class="pull-right"><h6 class="text-muted">{{activeStag.numUsers}} Users</h6></span>
    </div>
  </div>
</div>