<div class="jumbotron jumbotron-fluid info-banner">
  <div class="container">
    <div class="col-sm-10 col-center text-center">
    <h1 class="display-5">List Your Item</h1>
    <p>List, sell, and ship. Easy as 1 2 3</p>
    </div>
  </div>
</div>
<div class="panel-body secondary">  
{{outlet}}
</div>
