<div class="photo">
  <div class="container">
    <div class="photo-uploader">{{drop-zone url=photoUrl clickable=true addRemoveLinks=true}}</div>
    <button {{action "uploadPhotos"}} class="btn btn-primary btn-lg btn-block listing-next">Next</button>
  </div>
</div>