<div class="preview-container">
  {{#thread-listing listing=listing}}{{/thread-listing}}
  <div>
    <button {{action "listingSubmitDidClick"}} class="btn btn-primary btn-lg btn-block listing-next">Submit</button>
  </div>
</div>