<div class="modal fade bd-example-modal-sm modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="panel-padding panel-body">
        <div class="container">
          {{yield}}
        </div>
      </div>
    </div>
  </div>
</div>

